MIP-IES Supporting (29 April 2021)/subviews/friendly_orbat_task_org/mip-interop.org/data/v4.3/StaffConcept/OrganisationStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:action="https://mip-interop.org/data/v4.3/BattlespaceConcept/Action" xmlns:app="https://mip-interop.org/data/v4.3/AppInfo" xmlns:base="https://mip-interop.org/data/v4.3/Base" xmlns:concept="https://mip-interop.org/data/v4.3/Concept" xmlns:organisation="https://mip-interop.org/data/v4.3/BattlespaceConcept/Object/Actor/Organisation" xmlns:staffconcept="https://mip-interop.org/data/v4.3/StaffConcept" xmlns:staffconceptorganisationstructure="https://mip-interop.org/data/v4.3/StaffConcept/OrganisationStructure" targetNamespace="https://mip-interop.org/data/v4.3/StaffConcept/OrganisationStructure" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/Base.xsd" namespace="https://mip-interop.org/data/v4.3/Base" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/StaffConcept.xsd" namespace="https://mip-interop.org/data/v4.3/StaffConcept" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/Concept.xsd" namespace="https://mip-interop.org/data/v4.3/Concept" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/BattlespaceConcept/Object/Actor/Organisation.xsd" namespace="https://mip-interop.org/data/v4.3/BattlespaceConcept/Object/Actor/Organisation" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/BattlespaceConcept/Action.xsd" namespace="https://mip-interop.org/data/v4.3/BattlespaceConcept/Action" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/AppInfo.xsd" namespace="https://mip-interop.org/data/v4.3/AppInfo" />
  <xsd:annotation>
    <xsd:documentation xml:lang="en">The Schema.</xsd:documentation>
    <xsd:appinfo />
  </xsd:annotation>
  <xsd:element name="FriendlyORBAT" type="staffconceptorganisationstructure:FriendlyORBATType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An ORBAT for own forces.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:b1104db2-793f-41ca-b26b-17c303deb639</app:SemanticID>
        <app:DisplayName>Friendly Order of Battle</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FriendlyORBATType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An ORBAT for own forces.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:b1104db2-793f-41ca-b26b-17c303deb639</app:SemanticID>
        <app:DisplayName>Friendly Order of Battle</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="staffconceptorganisationstructure:OrderOfBattleType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OrderOfBattle" type="staffconceptorganisationstructure:OrderOfBattleType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An OrganisationStructure that provides the identification, strength, command structure, and disposition of the personnel, units, and equipment of any military force.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:592e2307-398f-418b-9941-85b574e36783</app:SemanticID>
        <app:Remarks>Although sometimes used in other ways, this term most frequently applies to the grouping of forces for a specific campaign.</app:Remarks>
        <app:MIMStereotype>Abstract</app:MIMStereotype>
        <app:DisplayName>Order of battle</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="OrderOfBattleType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An OrganisationStructure that provides the identification, strength, command structure, and disposition of the personnel, units, and equipment of any military force.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:592e2307-398f-418b-9941-85b574e36783</app:SemanticID>
        <app:Remarks>Although sometimes used in other ways, this term most frequently applies to the grouping of forces for a specific campaign.</app:Remarks>
        <app:MIMStereotype>Abstract</app:MIMStereotype>
        <app:DisplayName>Order of battle</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="staffconceptorganisationstructure:OrganisationStructureType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OrganisationStructure" type="staffconceptorganisationstructure:OrganisationStructureType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The hierarchical configuration of a root Organisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:7b80961b-1119-464f-a65a-ad71ca9a0724</app:SemanticID>
        <app:Remarks>This message is used to exchange Friendly ORBATs and Task Organisations.</app:Remarks>
        <app:MIMStereotype>Abstract</app:MIMStereotype>
        <app:DisplayName>Friendly ORBAT Or Task Org</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganisationStructureComponents" type="organisation:OrganisationFunctionalAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The OrganisationStructure is composed of the OrganisationFunctionalAssociation as a component.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:6b265c16-ed78-40a3-ace0-f4c50a85159aI</app:SemanticID>
        <app:ShortName>components</app:ShortName>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>structure</app:MIMStereotype>
        <app:DisplayName>is composed of</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganisationStructureRootOrganisation" type="organisation:MilitaryOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The Organisation is the root of the OrganisationStructure.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:7c992ebb-f7cf-491c-bf37-ac9d1256ba64I</app:SemanticID>
        <app:ShortName>rootOrganisation</app:ShortName>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>structure</app:MIMStereotype>
        <app:DisplayName>is the root of</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="OrganisationStructureType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The hierarchical configuration of a root Organisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:7b80961b-1119-464f-a65a-ad71ca9a0724</app:SemanticID>
        <app:Remarks>This message is used to exchange Friendly ORBATs and Task Organisations.</app:Remarks>
        <app:MIMStereotype>Abstract</app:MIMStereotype>
        <app:DisplayName>Friendly ORBAT Or Task Org</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="base:IdentifiableType">
        <xsd:sequence>
          <xsd:element ref="concept:ConceptName" />
          <xsd:element ref="staffconcept:StaffConceptMetadata" />
          <xsd:element ref="staffconceptorganisationstructure:OrganisationStructureComponents" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="staffconceptorganisationstructure:OrganisationStructureRootOrganisation" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TaskOrganisation" type="staffconceptorganisationstructure:TaskOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An OrganisationStructure that refers to the re-grouping, usually temporarily, of forces for specific operations and phases within operations. They normally form combined arms groupings.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:4cc917c4-e416-4297-9381-62a2b3128f4f</app:SemanticID>
        <app:Remarks>Command and control terminology is used to describe the command relationships between the different elements.</app:Remarks>
        <app:DisplayName>Task organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TaskOrganisationRequiringTask" type="action:TaskType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The Task requires the TaskOrganisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:288ff533-1f9e-4340-ac69-fb5af2a03244-2I</app:SemanticID>
        <app:ShortName>requiringTask</app:ShortName>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>structure</app:MIMStereotype>
        <app:DisplayName>requires</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="TaskOrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An OrganisationStructure that refers to the re-grouping, usually temporarily, of forces for specific operations and phases within operations. They normally form combined arms groupings.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:4cc917c4-e416-4297-9381-62a2b3128f4f</app:SemanticID>
        <app:Remarks>Command and control terminology is used to describe the command relationships between the different elements.</app:Remarks>
        <app:DisplayName>Task organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="staffconceptorganisationstructure:OrganisationStructureType">
        <xsd:sequence>
          <xsd:element ref="staffconceptorganisationstructure:TaskOrganisationRequiringTask" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>