MIP-IES Supporting (29 April 2021)/subviews/non_friendly_orbat/mip-interop.org/data/v4.3/BattlespaceConcept/Generic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:app="https://mip-interop.org/data/v4.3/AppInfo" xmlns:base="https://mip-interop.org/data/v4.3/Base" xmlns:generic="https://mip-interop.org/data/v4.3/BattlespaceConcept/Generic" xmlns:primitives="https://mip-interop.org/data/v4.3/Primitives" targetNamespace="https://mip-interop.org/data/v4.3/BattlespaceConcept/Generic" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/Base.xsd" namespace="https://mip-interop.org/data/v4.3/Base" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/Primitives.xsd" namespace="https://mip-interop.org/data/v4.3/Primitives" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/AppInfo.xsd" namespace="https://mip-interop.org/data/v4.3/AppInfo" />
  <xsd:annotation>
    <xsd:documentation xml:lang="en">The Schema.</xsd:documentation>
    <xsd:appinfo />
  </xsd:annotation>
  <xsd:element name="AbsoluteTimePeriodEndDateTime" type="generic:AbsoluteTimePeriodEndDateTimeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The point in time at which the AbsoluteTimePeriod ends.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:b5f893d2-bf71-4874-b90e-f2fc1c2210e5</app:SemanticID>
        <app:ShortName>endDateTime</app:ShortName>
        <app:MIMStereotype>dateTime</app:MIMStereotype>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:DisplayName>end date/time</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="AbsoluteTimePeriodEndDateTimeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The point in time at which the AbsoluteTimePeriod ends.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:b5f893d2-bf71-4874-b90e-f2fc1c2210e5</app:SemanticID>
        <app:ShortName>endDateTime</app:ShortName>
        <app:MIMStereotype>dateTime</app:MIMStereotype>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:DisplayName>end date/time</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:TimePointType" />
  </xsd:simpleType>
  <xsd:element name="AbsoluteTimePeriodStartDateTime" type="generic:AbsoluteTimePeriodStartDateTimeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The point in time at which the AbsoluteTimePeriod begins.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:d8d7dbf9-3b41-4d87-a48b-23c20a2ed759</app:SemanticID>
        <app:ShortName>startDateTime</app:ShortName>
        <app:MIMStereotype>dateTime</app:MIMStereotype>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:DisplayName>start date/time</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="AbsoluteTimePeriodStartDateTimeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The point in time at which the AbsoluteTimePeriod begins.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:d8d7dbf9-3b41-4d87-a48b-23c20a2ed759</app:SemanticID>
        <app:ShortName>startDateTime</app:ShortName>
        <app:MIMStereotype>dateTime</app:MIMStereotype>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:DisplayName>start date/time</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:TimePointType" />
  </xsd:simpleType>
  <xsd:complexType name="AbsoluteTimePeriodType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A TimePeriod that uses Universal Time as reference.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:2f98c539-7afa-49f6-9f07-9d61dc10e165</app:SemanticID>
        <app:DisplayName>Absolute time period</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="generic:TimePeriodType">
        <xsd:sequence>
          <xsd:element ref="generic:AbsoluteTimePeriodEndDateTime" minOccurs="0" />
          <xsd:element ref="generic:AbsoluteTimePeriodStartDateTime" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="HostilityCodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The perceived hostility status of a BattlespaceConcept.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:d93bfd9f-5279-4fc9-9f56-ed5f21bb5140</app:SemanticID>
        <app:MIMStereotype>complete</app:MIMStereotype>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:CodeValueType">
      <xsd:enumeration value="AssumedFriend">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The BattlespaceConcept is assumed to be friendly because of its characteristics, behaviour or origin.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:018dc5fb-d1ca-4443-94a2-133ba4504912</app:SemanticID>
            <app:DisplayName>Assumed friend</app:DisplayName>
            <app:PhysicalName>AFR</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AssumedHostile">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The BattlespaceConcept is likely to pertain to enemy forces.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:019b5f17-bcc8-434b-b926-31847be0f64e</app:SemanticID>
            <app:DisplayName>Assumed hostile</app:DisplayName>
            <app:PhysicalName>AHO</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AssumedNeutral">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The BattlespaceConcept is likely to pertain to neither own, allied, enemy or otherwise involved forces.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:5c559fec-51d8-4e21-96b0-21b963d1cf9e</app:SemanticID>
            <app:DisplayName>Assumed neutral</app:DisplayName>
            <app:PhysicalName>ANT</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Friend">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The BattlespaceConcept pertains to a declared, presumed or recognized friendly nation, faction or group.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:6c061579-d5fc-4b1a-87ed-dfd72071466e</app:SemanticID>
            <app:DisplayName>Friend</app:DisplayName>
            <app:PhysicalName>FR</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Hostile">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The BattlespaceConcept is positively identified as enemy.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:9a6bb39a-bef0-455f-b6e8-a49e79dd744d</app:SemanticID>
            <app:DisplayName>Hostile</app:DisplayName>
            <app:PhysicalName>HO</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Neutral">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The BattlespaceConcept is neither supporting friendly nor opposing forces according to its characteristics, behaviour, origin or nationality.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:c7a391f8-2d9d-41ec-b99d-c06b7c2b1810</app:SemanticID>
            <app:DisplayName>Neutral</app:DisplayName>
            <app:PhysicalName>NEUTRL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Pending">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The identification of the BattlespaceConcept is to be determined.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:f474450d-1553-4c98-a2d3-012f919d753e</app:SemanticID>
            <app:DisplayName>Pending</app:DisplayName>
            <app:PhysicalName>PENDNG</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Suspect">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The BattlespaceConcept is potentially hostile because of its characteristics, behaviour or origin.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:ccb2553b-9c5b-45a1-bdf0-5a6e2024fa7f</app:SemanticID>
            <app:DisplayName>Suspect</app:DisplayName>
            <app:PhysicalName>SUSPCT</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Unknown">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The identification of the BattlespaceConcept is not available.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:0b3c2500-466e-4e37-88d9-3213df80cbcd</app:SemanticID>
            <app:DisplayName>Unknown</app:DisplayName>
            <app:PhysicalName>UNK</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="TextualTimePeriodDescriptionText" type="generic:TextualTimePeriodDescriptionTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The textual description of a portion of time.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:244a5814-4962-4db5-a71a-fb3d0b740150</app:SemanticID>
        <app:ShortName>descriptionText</app:ShortName>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>text</app:MIMStereotype>
        <app:DisplayName>description</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="TextualTimePeriodDescriptionTextType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The textual description of a portion of time.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:244a5814-4962-4db5-a71a-fb3d0b740150</app:SemanticID>
        <app:ShortName>descriptionText</app:ShortName>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>text</app:MIMStereotype>
        <app:DisplayName>description</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:StringType">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TextualTimePeriodType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A TimePeriod specified as free text.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:0938920e-ed38-42c8-865e-ff16212ad15b</app:SemanticID>
        <app:DisplayName>Textual time period</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="generic:TimePeriodType">
        <xsd:sequence>
          <xsd:element ref="generic:TextualTimePeriodDescriptionText" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TimePeriodType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A portion of time.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:789b83c7-7f1d-4278-8870-22bdca827494</app:SemanticID>
        <app:MIMStereotype>Abstract</app:MIMStereotype>
        <app:DisplayName>Time period</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="base:NonIdentifiableType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>