MIP-IES Supporting (29 April 2021)/subviews/non_friendly_orbat/mip-interop.org/data/v4.3/BattlespaceConcept/Object/Actor/Organisation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:app="https://mip-interop.org/data/v4.3/AppInfo" xmlns:base="https://mip-interop.org/data/v4.3/Base" xmlns:battlespaceconcept="https://mip-interop.org/data/v4.3/BattlespaceConcept" xmlns:concept="https://mip-interop.org/data/v4.3/Concept" xmlns:object="https://mip-interop.org/data/v4.3/BattlespaceConcept/Object" xmlns:organisation="https://mip-interop.org/data/v4.3/BattlespaceConcept/Object/Actor/Organisation" xmlns:primitives="https://mip-interop.org/data/v4.3/Primitives" targetNamespace="https://mip-interop.org/data/v4.3/BattlespaceConcept/Object/Actor/Organisation" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/BattlespaceConcept/Object.xsd" namespace="https://mip-interop.org/data/v4.3/BattlespaceConcept/Object" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/BattlespaceConcept.xsd" namespace="https://mip-interop.org/data/v4.3/BattlespaceConcept" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/Concept.xsd" namespace="https://mip-interop.org/data/v4.3/Concept" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/Base.xsd" namespace="https://mip-interop.org/data/v4.3/Base" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/Primitives.xsd" namespace="https://mip-interop.org/data/v4.3/Primitives" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/AppInfo.xsd" namespace="https://mip-interop.org/data/v4.3/AppInfo" />
  <xsd:annotation>
    <xsd:documentation xml:lang="en">The Schema.</xsd:documentation>
    <xsd:appinfo />
  </xsd:annotation>
  <xsd:element name="CivilianConvoy" type="organisation:CivilianConvoyType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A group of vehicles organised for the purpose of control and orderly movement.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:8387280f-37de-4e8b-8cff-7174ef8f1ac6</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Civilian convoy</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CivilianConvoyType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A group of vehicles organised for the purpose of control and orderly movement.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:8387280f-37de-4e8b-8cff-7174ef8f1ac6</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Civilian convoy</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:GroupOrganisationType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CivilianPost" type="organisation:CivilianPostType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An Organisation with a set of duties that are intended to be fulfilled by one person in private sector and non-military government organisations.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:cb677573-9b9d-40d7-8d9f-a60bf0195654</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Civilian post</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CivilianPostCategoryCode" type="organisation:CivilianPostCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The class of CivilianPost.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:e5f421b6-7f5c-4c44-85a8-51587ff2abfa</app:SemanticID>
        <app:ShortName>categoryCode</app:ShortName>
        <app:MIMStereotype>code</app:MIMStereotype>
        <app:MIMStereotype>discriminator</app:MIMStereotype>
        <app:MIMStereotype>type</app:MIMStereotype>
        <app:DisplayName>category</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="CivilianPostCategoryCodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The class of CivilianPost.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:75b655c3-ab34-4ccb-8f7f-ca4a5175219f</app:SemanticID>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:CodeValueType">
      <xsd:enumeration value="AidAdministrator">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose job is to manage or direct the affairs of an organisation that provides relief services.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:99837545-d74e-411c-8573-056b0c88b9da</app:SemanticID>
            <app:DisplayName>Aid administrator</app:DisplayName>
            <app:PhysicalName>AIDADM</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Alderman">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose job entails the participation in the legislative body of town or city governments.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:f803f70e-d2b4-482e-af83-49fa60fc010d</app:SemanticID>
            <app:DisplayName>Alderman</app:DisplayName>
            <app:PhysicalName>ALDRMN</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CorporateExecutive">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose job entails the leadership in an executive or administrative function in a private sector business.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:6008da7d-1242-4807-bda8-aca914c137c9</app:SemanticID>
            <app:DisplayName>Corporate executive</app:DisplayName>
            <app:PhysicalName>COREXC</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DepartmentHead">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose job entails the leadership of a separate division or branch of an organisation.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:39412659-aaed-4c10-a8b2-29defe1be876</app:SemanticID>
            <app:DisplayName>Department head</app:DisplayName>
            <app:PhysicalName>DEPTHD</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GovernmentMinister">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose job entails the lower level executive duties of the government.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:01e7c488-4b1a-4728-a62d-51be63296ce8</app:SemanticID>
            <app:DisplayName>Government minister</app:DisplayName>
            <app:PhysicalName>GOVMST</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Governor">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose job is the executive leadership and administrative control over a group of people.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:7eb143e1-8d23-4b1a-a18f-4478cf1138dc</app:SemanticID>
            <app:DisplayName>Governor</app:DisplayName>
            <app:PhysicalName>GOVRNR</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HeadOfState">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose job is the supreme executive magistracy of a country.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:00f800e4-76c9-4652-abe3-12ebaa9d3891</app:SemanticID>
            <app:DisplayName>Head of state</app:DisplayName>
            <app:PhysicalName>HEADST</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Mayor">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose job is the chief officer of the municipal corporation of a city or borough.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:34350112-5c8a-4275-9134-71a9bd69a7c6</app:SemanticID>
            <app:DisplayName>Mayor</app:DisplayName>
            <app:PhysicalName>MAYOR</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PoliceChief">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose job is the chief officer of a civil force to which is entrusted the duty of maintaining public order, enforcing regulations and detecting crime.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:ca7fcebb-cef3-4c73-931d-65be2249a173</app:SemanticID>
            <app:DisplayName>Police chief</app:DisplayName>
            <app:PhysicalName>POLCHF</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Publisher">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose business is the issuing of books, newspapers, music, engravings, videos or the like, as the agent of the author or owner.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:2274960d-3e67-4e74-a110-6d4ccdd61112</app:SemanticID>
            <app:DisplayName>Publisher</app:DisplayName>
            <app:PhysicalName>PUBLSR</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RegionalAdministrator">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose job is to manage or direct the affairs of a regional organisation.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:663dbaa7-402f-4320-b3b2-3e4da3db788e</app:SemanticID>
            <app:DisplayName>Regional administrator</app:DisplayName>
            <app:PhysicalName>REGADM</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ReleaseAuthority">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A CivilianPost whose job is to authorize the release of a product or information.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:56209519-55d2-4df4-aad3-e517483e0f8e</app:SemanticID>
            <app:DisplayName>Release authority</app:DisplayName>
            <app:PhysicalName>RELATH</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CivilianPostType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An Organisation with a set of duties that are intended to be fulfilled by one person in private sector and non-military government organisations.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:cb677573-9b9d-40d7-8d9f-a60bf0195654</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Civilian post</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:OrganisationType">
        <xsd:sequence>
          <xsd:element ref="organisation:CivilianPostCategoryCode" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ExecutiveMilitaryOrganisation" type="organisation:ExecutiveMilitaryOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A MilitaryOrganisation whose function is to manage and direct the military establishment.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:1469bba3-d84c-4155-ad2d-979260b383f2</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Executive military organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ExecutiveMilitaryOrganisationCategoryCode" type="organisation:ExecutiveMilitaryOrganisationCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The class of ExecutiveMilitaryOrganisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:cd090a9c-6866-4a64-a451-2f73f4790b92</app:SemanticID>
        <app:ShortName>categoryCode</app:ShortName>
        <app:MIMStereotype>code</app:MIMStereotype>
        <app:MIMStereotype>discriminator</app:MIMStereotype>
        <app:MIMStereotype>type</app:MIMStereotype>
        <app:DisplayName>category</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="ExecutiveMilitaryOrganisationCategoryCodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The class of ExecutiveMilitaryOrganisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:b9ce8368-ff97-445b-92d2-4027c4651f9b</app:SemanticID>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:CodeValueType">
      <xsd:enumeration value="Headquarters">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An ExecutiveMilitaryOrganisation that performs the management functions of an international, national, strategic or service headquarters.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:60b0a35c-036a-4eb2-85bc-0007dad5f916</app:SemanticID>
            <app:DisplayName>Headquarters</app:DisplayName>
            <app:PhysicalName>HQ</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LogisticsExecutiveMilitaryOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An ExecutiveMilitaryOrganisation that provides management of logistics services.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:1ec51b4b-d637-4288-90d0-1e774f76307f</app:SemanticID>
            <app:DisplayName>Logistics executive military organisation</app:DisplayName>
            <app:PhysicalName>LOG</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MilitaryServiceExecutiveMilitaryOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An ExecutiveMilitaryOrganisation, other than police, that manages the training, equipping, manning, and operating of an armed uniformed force.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:438aaeb2-7527-4093-a7e3-ce565c84ec28</app:SemanticID>
            <app:DisplayName>Military service executive military organisation</app:DisplayName>
            <app:PhysicalName>MILSVC</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PersonnelExecutiveMilitaryOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An ExecutiveMilitaryOrganisation that provides management of personnel services.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:1d34cbaa-6b0f-4c39-9c62-b8255d99e735</app:SemanticID>
            <app:DisplayName>Personnel executive military organisation</app:DisplayName>
            <app:PhysicalName>PRSNL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SupplyExecutiveMilitaryOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An ExecutiveMilitaryOrganisation that provides management of supply services.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:fef9a09f-9cf6-484c-8f6d-135a84eb33e8</app:SemanticID>
            <app:DisplayName>Supply executive military organisation</app:DisplayName>
            <app:PhysicalName>SUPPLY</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TransportationExecutiveMilitaryOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An ExecutiveMilitaryOrganisation that provides management of transportation services.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:d35d91ca-aba3-44c5-8b46-406ab2882108</app:SemanticID>
            <app:DisplayName>Transportation executive military organisation</app:DisplayName>
            <app:PhysicalName>TRNPTN</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ExecutiveMilitaryOrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A MilitaryOrganisation whose function is to manage and direct the military establishment.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:1469bba3-d84c-4155-ad2d-979260b383f2</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Executive military organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:MilitaryOrganisationType">
        <xsd:sequence>
          <xsd:element ref="organisation:ExecutiveMilitaryOrganisationCategoryCode" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GovernmentOrganisation" type="organisation:GovernmentOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An Organisation that controls and administers public policy either under a national or international mandate.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:68720547-4cbc-4e80-9e0f-f685af2e7f62</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Government organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="GovernmentOrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An Organisation that controls and administers public policy either under a national or international mandate.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:68720547-4cbc-4e80-9e0f-f685af2e7f62</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Government organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:OrganisationType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GroupOrganisation" type="organisation:GroupOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An Organisation that is non-formal in nature and classes together its members due to mutual or common circumstances.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:cadab14f-755b-4973-a06f-dabb0ab0fa7c</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Group organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="GroupOrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An Organisation that is non-formal in nature and classes together its members due to mutual or common circumstances.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:cadab14f-755b-4973-a06f-dabb0ab0fa7c</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Group organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:OrganisationType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InternalSecurityForcesOrganisation" type="organisation:InternalSecurityForcesOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GovernmentOrganisation whose principal designation is to keep peace within the borders of a sovereign state or other self-governing territories, generally by upholding the national law and defending against internal security threats.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:fa42a007-817c-472c-adc6-48ac3be95e72</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Internal Security Forces (ISF) organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="InternalSecurityForcesOrganisationCategoryCode" type="organisation:InternalSecurityForcesOrganisationCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The class of InternalSecurityForcesUnit.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:b5a09e3c-81a7-4228-920c-ed5ce5cfc971</app:SemanticID>
        <app:ShortName>categoryCode</app:ShortName>
        <app:MIMStereotype>code</app:MIMStereotype>
        <app:MIMStereotype>discriminator</app:MIMStereotype>
        <app:MIMStereotype>type</app:MIMStereotype>
        <app:DisplayName>category</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="InternalSecurityForcesOrganisationCategoryCodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The class of InternalSecurityForcesOrganisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:1d85b798-a4e4-4188-967f-57cb36490ec2</app:SemanticID>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:CodeValueType">
      <xsd:enumeration value="AviationSecurityForcesUnit">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A Unit whose primary function is to maintain a state of law and order within air facilities or assets.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:cecdf5ca-c8f0-45c1-a6ac-c1c473cdaf21</app:SemanticID>
            <app:DisplayName>Aviation security forces unit</app:DisplayName>
            <app:PhysicalName>AVASEC</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DismountedSecurityForcesUnit">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A Unit whose primary function is to maintain a state of law and order and whose primary mode of operation is on foot.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:211695c3-1c6b-4b1d-8b54-180b94e76864</app:SemanticID>
            <app:DisplayName>Dismounted security forces unit</app:DisplayName>
            <app:PhysicalName>DISSEC</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RailwaySecurityForcesUnit">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A Unit whose primary function is to maintain a state of law and order within railway facilities or assets.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:784d01e9-d1d3-446e-abb0-c787b065a330</app:SemanticID>
            <app:DisplayName>Railway security forces unit</app:DisplayName>
            <app:PhysicalName>RAILSE</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RiverineSecurityForcesUnit">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A Unit whose primary function is to maintain a state of law and order and that operates on or along a river.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:a5ebc56d-5a1f-49fe-a14c-a6eacad15985</app:SemanticID>
            <app:DisplayName>Riverine security forces unit</app:DisplayName>
            <app:PhysicalName>RIVSEC</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="InternalSecurityForcesOrganisationIsCombatForceIndicator" type="organisation:InternalSecurityForcesOrganisationIsCombatForceIndicatorType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Whether the InternalSecurityForcesUnit is a combat unit (true) or a combat support unit (false).</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:dc5e5ee9-8a78-48d1-aafb-c6f6e4e9ca73</app:SemanticID>
        <app:ShortName>isCombatForceIndicator</app:ShortName>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>indicator</app:MIMStereotype>
        <app:MIMStereotype>type</app:MIMStereotype>
        <app:DisplayName>is combat force</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="InternalSecurityForcesOrganisationIsCombatForceIndicatorType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Whether the InternalSecurityForcesUnit is a combat unit (true) or a combat support unit (false).</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:dc5e5ee9-8a78-48d1-aafb-c6f6e4e9ca73</app:SemanticID>
        <app:ShortName>isCombatForceIndicator</app:ShortName>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>indicator</app:MIMStereotype>
        <app:MIMStereotype>type</app:MIMStereotype>
        <app:DisplayName>is combat force</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:BooleanType" />
  </xsd:simpleType>
  <xsd:complexType name="InternalSecurityForcesOrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GovernmentOrganisation whose principal designation is to keep peace within the borders of a sovereign state or other self-governing territories, generally by upholding the national law and defending against internal security threats.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:fa42a007-817c-472c-adc6-48ac3be95e72</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Internal Security Forces (ISF) organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:GovernmentOrganisationType">
        <xsd:sequence>
          <xsd:element ref="organisation:InternalSecurityForcesOrganisationCategoryCode" minOccurs="0" />
          <xsd:element ref="organisation:InternalSecurityForcesOrganisationIsCombatForceIndicator" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InternationalCivilGovernmentalOrganisation" type="organisation:InternationalCivilGovernmentalOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GovernmentOrganisation that is officially involved in international civil affairs.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:d029d418-0efd-408a-adec-3a5af0028132</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>International civil governmental organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="InternationalCivilGovernmentalOrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GovernmentOrganisation that is officially involved in international civil affairs.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:d029d418-0efd-408a-adec-3a5af0028132</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>International civil governmental organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:GovernmentOrganisationType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InternationalCivilOrMilitaryGovernmentalOrganisation" type="organisation:InternationalCivilOrMilitaryGovernmentalOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GovernmentOrganisation that is officially involved in international affairs that include both civil and military elements.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:9b8ed610-0b1b-413f-80d6-c7d2a9425789</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>International civil/military governmental organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="InternationalCivilOrMilitaryGovernmentalOrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GovernmentOrganisation that is officially involved in international affairs that include both civil and military elements.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:9b8ed610-0b1b-413f-80d6-c7d2a9425789</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>International civil/military governmental organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:GovernmentOrganisationType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InternationalMediaGroup" type="organisation:InternationalMediaGroupType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A MediaGroup that comprises persons that report for international mass communications, but do not take part in the actions.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:c7b35fe5-5bd8-4e51-a626-95937153cc6c</app:SemanticID>
        <app:DisplayName>International media group</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="InternationalMediaGroupType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A MediaGroup that comprises persons that report for international mass communications, but do not take part in the actions.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:c7b35fe5-5bd8-4e51-a626-95937153cc6c</app:SemanticID>
        <app:DisplayName>International media group</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:MediaGroupType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LocalMediaGroup" type="organisation:LocalMediaGroupType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A MediaGroup that comprises persons that report for local mass communications, but do not take part in the actions.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:ec2354ba-2344-44bb-984e-09ba1b89aac6</app:SemanticID>
        <app:DisplayName>Local media group</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="LocalMediaGroupType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A MediaGroup that comprises persons that report for local mass communications, but do not take part in the actions.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:ec2354ba-2344-44bb-984e-09ba1b89aac6</app:SemanticID>
        <app:DisplayName>Local media group</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:MediaGroupType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MediaGroup" type="organisation:MediaGroupType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons that report for mass communications (especially television, radio, and newspapers).</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:8eedb03d-d3ee-4e42-a767-c66a8f100477</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Media group</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="MediaGroupType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons that report for mass communications (especially television, radio, and newspapers).</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:8eedb03d-d3ee-4e42-a767-c66a8f100477</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Media group</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:GroupOrganisationType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MilitaryConvoy" type="organisation:MilitaryConvoyType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A group of vehicles or vessels organised for the purpose of control and orderly movement with or without escort protection.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:09d32857-191d-4973-a831-3bc5db4f69b2</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Military convoy</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="MilitaryConvoyType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A group of vehicles or vessels organised for the purpose of control and orderly movement with or without escort protection.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:09d32857-191d-4973-a831-3bc5db4f69b2</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Military convoy</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:MilitaryOrganisationType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MilitaryOrganisation" type="organisation:MilitaryOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GovernmentOrganisation that is officially sanctioned and is trained and equipped to exert force.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:9d29c033-a496-41e6-b6a5-3b610335cded</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Military organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MilitaryOrganisationServiceCode" type="organisation:MilitaryOrganisationServiceCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The military, paramilitary, irregular force, force or group, capable of functioning as an offensive or defensive combat or support organisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:d2f0e0ba-e195-46b5-b29b-6a535b0359af</app:SemanticID>
        <app:ShortName>serviceCode</app:ShortName>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>code</app:MIMStereotype>
        <app:MIMStereotype>type</app:MIMStereotype>
        <app:DisplayName>service</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="MilitaryOrganisationServiceCodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The military, paramilitary, irregular force, force or group, capable of functioning as an offensive or defensive combat or support organisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:84903321-6ee1-48ef-ba36-426c0ddce170</app:SemanticID>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:CodeValueType">
      <xsd:enumeration value="AirForce">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation belongs to the Air Force (includes reserves and mobilised air national guard).</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:09655091-3c57-4858-93f8-d4344dfccf5c</app:SemanticID>
            <app:DisplayName>Air Force</app:DisplayName>
            <app:PhysicalName>AIRFRC</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Army">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation belongs to the Army (includes territorial army, reserves, and mobilised national guard).</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:7c40174a-4847-4bdd-9c06-3d3c072814aa</app:SemanticID>
            <app:DisplayName>Army</app:DisplayName>
            <app:PhysicalName>ARMY</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="BorderGuard">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation is paramilitary and its primary task is to maintain the security of national borders.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:d942341c-e9e2-4de8-b50c-2ff8fa6e86a7</app:SemanticID>
            <app:DisplayName>Border guard</app:DisplayName>
            <app:PhysicalName>BRDRGD</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CivilService">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation is staffed solely by civilian personnel.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:1695b341-f7e4-483b-9fbe-252993e3203f</app:SemanticID>
            <app:DisplayName>Civil service</app:DisplayName>
            <app:PhysicalName>CVLSVC</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CoastGuard">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation is responsible for one or more of the following: coastal defence, protection of life and property at sea, and enforcement of customs, immigration, and navigation laws.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:fff22eb7-50fa-482a-a734-de179b5e5132</app:SemanticID>
            <app:DisplayName>Coast guard</app:DisplayName>
            <app:PhysicalName>COASTG</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Combined">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation contains two or more forces or agencies of two or more allies.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:d2ac07a2-0899-4ad1-b5ff-3d2aa4113381</app:SemanticID>
            <app:DisplayName>Combined</app:DisplayName>
            <app:PhysicalName>COMBND</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Guerrilla">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation is an irregular military force.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:9b54575e-3376-48db-b21b-4ec95099bb81</app:SemanticID>
            <app:DisplayName>Guerrilla</app:DisplayName>
            <app:PhysicalName>GUERLL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Joint">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation contains elements of more than one Service from the same nation.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:49083b20-6792-4a86-bf3d-aa127eb442ec</app:SemanticID>
            <app:DisplayName>Joint</app:DisplayName>
            <app:PhysicalName>JOINT</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LocalDefenceForce">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation has defence of a specific region as its primary task (before mobilisation, a national guard is a local defence force).</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:b2f44949-c4fb-46ba-ae04-4beca7409550</app:SemanticID>
            <app:DisplayName>Local defence force</app:DisplayName>
            <app:PhysicalName>LCLDFF</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LocalMilitia">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation is civilian and has a defence and possibly also a police role; it may be an irregular civilian MilitaryOrganisation.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:77374153-6c0d-41e9-ad5f-68f6dc3e8d14</app:SemanticID>
            <app:DisplayName>Local militia</app:DisplayName>
            <app:PhysicalName>LCLMLT</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Marines">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation belongs to the Marines (includes reserves).</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:4d10f3fe-b9bd-4c3f-90a4-02500bfb1b88</app:SemanticID>
            <app:DisplayName>Marines</app:DisplayName>
            <app:PhysicalName>MARINE</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MedicalService">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation focuses on providing medical services.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:757f8186-ef9c-439e-a3bb-966e6eaae83b</app:SemanticID>
            <app:DisplayName>Medical Service</app:DisplayName>
            <app:PhysicalName>MEDSRV</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Navy">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation belongs to the Navy (includes reserves).</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:0761622e-27f2-42a4-8093-f45d3ac567c8</app:SemanticID>
            <app:DisplayName>Navy</app:DisplayName>
            <app:PhysicalName>NAVY</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Paramilitary">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation is a force or a group distinct from the regular armed forces of any country but it resembles them in organization, equipment, training, or mission.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:e984eae6-85d6-41bd-af5c-ce7ad38e55dd</app:SemanticID>
            <app:DisplayName>Paramilitary</app:DisplayName>
            <app:PhysicalName>PAR</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SpecialForce">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation is trained and equipped for special purposes.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:eec69fd2-18c9-4e11-9704-7f25c0c42635</app:SemanticID>
            <app:DisplayName>Special force</app:DisplayName>
            <app:PhysicalName>SPFRC</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TerritorialForce">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MilitaryOrganisation is part of a nation's armed forces and is responsible for regional defence.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:3ac9763f-9bbd-4d81-b4a2-1cbe26c796d1</app:SemanticID>
            <app:DisplayName>Territorial force</app:DisplayName>
            <app:PhysicalName>TERFRC</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MilitaryOrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GovernmentOrganisation that is officially sanctioned and is trained and equipped to exert force.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:9d29c033-a496-41e6-b6a5-3b610335cded</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Military organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:GovernmentOrganisationType">
        <xsd:sequence>
          <xsd:element ref="organisation:MilitaryOrganisationServiceCode" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="NationalCivilGovernmentalOrganisation" type="organisation:NationalCivilGovernmentalOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GovernmentOrganisation that is officially involved in national civil affairs.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:9d5e40d0-6abb-4add-a721-6676c447b7cd</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>National civil governmental organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="NationalCivilGovernmentalOrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GovernmentOrganisation that is officially involved in national civil affairs.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:9d5e40d0-6abb-4add-a721-6676c447b7cd</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>National civil governmental organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:GovernmentOrganisationType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="NationalMediaGroup" type="organisation:NationalMediaGroupType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A MediaGroup that comprises persons that report for national mass communications, but do not take part in the actions.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:5ce80cdd-6c53-40d4-b63a-de1beb24f7df</app:SemanticID>
        <app:DisplayName>National media group</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="NationalMediaGroupType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A MediaGroup that comprises persons that report for national mass communications, but do not take part in the actions.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:5ce80cdd-6c53-40d4-b63a-de1beb24f7df</app:SemanticID>
        <app:DisplayName>National media group</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:MediaGroupType">
        <xsd:sequence />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Organisation" type="organisation:OrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An administrative or functional structure.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:d4664893-6364-4594-a766-df7d575b110a</app:SemanticID>
        <app:Remarks>An Organisation is constituted to accomplish an aim, purpose, or mission.</app:Remarks>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganisationCommandAndControlAssociation" type="organisation:OrganisationCommandAndControlAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The Organisation has a command and control association with the other Organisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:719ed587-9fcd-4d91-a37c-e8010744de45</app:SemanticID>
        <app:DisplayName>Organisation command and control association</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganisationCommandAndControlAssociationCategoryCode" type="organisation:OrganisationCommandAndControlAssociationCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The type of command and control association.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:70772ca4-f8f3-4c5f-8772-76f709aaf1c4</app:SemanticID>
        <app:ShortName>categoryCode</app:ShortName>
        <app:MIMStereotype>code</app:MIMStereotype>
        <app:MIMStereotype>discriminator</app:MIMStereotype>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:DisplayName>category</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="OrganisationCommandAndControlAssociationCategoryCodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The type of command and control association between two Organisations.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:f19c48f1-d371-407b-8c6e-781064e1da3b</app:SemanticID>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:CodeValueType">
      <xsd:enumeration value="HasFullCommandOf">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The military authority and responsibility of a superior officer to issue orders to subordinates.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:07c34f55-489b-44c0-8c24-ae8980fd6d9f</app:SemanticID>
            <app:DisplayName>Has full command of</app:DisplayName>
            <app:PhysicalName>COMD</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HasOperationalCommandOf">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The authority granted to a commander to assign missions or tasks to subordinate commanders, to deploy units, to reassign forces, and to retain or delegate operational and/or tactical control as may be deemed necessary.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:65cbc72d-ce51-4ec5-83e9-7227c65af080</app:SemanticID>
            <app:DisplayName>Has operational command of</app:DisplayName>
            <app:PhysicalName>OPCOMD</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HasOperationalControlOf">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The authority delegated to a commander to direct forces assigned so that the commander may accomplish specific missions or tasks which are usually limited by function, time, or location; to deploy units concerned, and to retain or assign tactical control of those units. It does not include authority to assign separate employment of components of the units concerned.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:d3f91240-24cd-4b14-b7f2-a0e8ee3d3ae7</app:SemanticID>
            <app:DisplayName>Has operational control of</app:DisplayName>
            <app:PhysicalName>OPCON</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HasTacticalCommandOf">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The authority delegated to a commander to assign tasks to forces under his command for the accomplishment of the mission assigned by higher authority.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:61dae9f0-c10a-483d-9fbc-dc730098d9f8</app:SemanticID>
            <app:DisplayName>Has tactical command of</app:DisplayName>
            <app:PhysicalName>TACCOM</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HasTacticalControlOf">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The detailed, and, usually, local direction and control of movements or manoeuvres necessary to accomplish missions or tasks assigned.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:a7adb072-ecaa-44c6-b9c7-75b1d1340836</app:SemanticID>
            <app:DisplayName>Has tactical control of</app:DisplayName>
            <app:PhysicalName>TACCNT</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="OrganisationCommandAndControlAssociationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The Organisation has a command and control association with the other Organisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:719ed587-9fcd-4d91-a37c-e8010744de45</app:SemanticID>
        <app:DisplayName>Organisation command and control association</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:OrganisationFunctionalAssociationType">
        <xsd:sequence>
          <xsd:element ref="organisation:OrganisationCommandAndControlAssociationCategoryCode" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OrganisationFunctionalAssociation" type="organisation:OrganisationFunctionalAssociationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The nature of functional relationship between the subject and object Organisations.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:c959cb55-5877-4cdd-b45c-9ac692b6da07</app:SemanticID>
        <app:MIMStereotype>Abstract</app:MIMStereotype>
        <app:DisplayName>Organisation functional association</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganisationFunctionalAssociationFunctionalObjectOrganisation" type="organisation:OrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The subject Organisation is functionally related to the object Organisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:ad74baaa-8b87-417c-b844-fe3641a3418f-2I</app:SemanticID>
        <app:ShortName>functionalObjectOrganisation</app:ShortName>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>structure</app:MIMStereotype>
        <app:DisplayName>is functionally related to</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganisationFunctionalAssociationFunctionalObjectOrganisationRef" type="base:IdentifiableReferenceType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The subject Organisation is functionally related to the object Organisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:ad74baaa-8b87-417c-b844-fe3641a3418f-2R</app:SemanticID>
        <app:ShortName>functionalObjectOrganisationRef</app:ShortName>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>structure</app:MIMStereotype>
        <app:ReferenceType>MIM:d4664893-6364-4594-a766-df7d575b110a</app:ReferenceType>
        <app:DisplayName>is functionally related to</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganisationFunctionalAssociationFunctionalSubjectOrganisation" type="organisation:OrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The subject Organisation is functionally related to the object Organisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:ad74baaa-8b87-417c-b844-fe3641a3418f-1I</app:SemanticID>
        <app:ShortName>functionalSubjectOrganisation</app:ShortName>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>structure</app:MIMStereotype>
        <app:DisplayName>is functionally related to</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganisationFunctionalAssociationFunctionalSubjectOrganisationRef" type="base:IdentifiableReferenceType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The subject Organisation is functionally related to the object Organisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:ad74baaa-8b87-417c-b844-fe3641a3418f-1R</app:SemanticID>
        <app:ShortName>functionalSubjectOrganisationRef</app:ShortName>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>structure</app:MIMStereotype>
        <app:ReferenceType>MIM:d4664893-6364-4594-a766-df7d575b110a</app:ReferenceType>
        <app:DisplayName>is functionally related to</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="OrganisationFunctionalAssociationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The nature of functional relationship between the subject and object Organisations.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:c959cb55-5877-4cdd-b45c-9ac692b6da07</app:SemanticID>
        <app:MIMStereotype>Abstract</app:MIMStereotype>
        <app:DisplayName>Organisation functional association</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="base:AssociationType">
        <xsd:sequence>
          <xsd:element ref="organisation:OrganisationFunctionalAssociationFunctionalObjectOrganisationRef" minOccurs="0" />
          <xsd:element ref="organisation:OrganisationFunctionalAssociationFunctionalObjectOrganisation" minOccurs="0" />
          <xsd:element ref="organisation:OrganisationFunctionalAssociationFunctionalSubjectOrganisationRef" minOccurs="0" />
          <xsd:element ref="organisation:OrganisationFunctionalAssociationFunctionalSubjectOrganisation" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OrganisationHasCommandFunctionIndicator" type="organisation:OrganisationHasCommandFunctionIndicatorType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Whether the Organisation has a command function (true) or not (false).</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:3ccc1ec1-bf33-44fa-ad9c-a2b6d68fa528</app:SemanticID>
        <app:ShortName>hasCommandFunctionIndicator</app:ShortName>
        <app:Remarks>This attribute shall be used to draw the headquarters staff indicator when using APP-6.</app:Remarks>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>indicator</app:MIMStereotype>
        <app:MIMStereotype>type</app:MIMStereotype>
        <app:DisplayName>has command function</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="OrganisationHasCommandFunctionIndicatorType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Whether the Organisation has a command function (true) or not (false).</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:3ccc1ec1-bf33-44fa-ad9c-a2b6d68fa528</app:SemanticID>
        <app:ShortName>hasCommandFunctionIndicator</app:ShortName>
        <app:Remarks>This attribute shall be used to draw the headquarters staff indicator when using APP-6.</app:Remarks>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>indicator</app:MIMStereotype>
        <app:MIMStereotype>type</app:MIMStereotype>
        <app:DisplayName>has command function</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:BooleanType" />
  </xsd:simpleType>
  <xsd:complexType name="OrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An administrative or functional structure.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:d4664893-6364-4594-a766-df7d575b110a</app:SemanticID>
        <app:Remarks>An Organisation is constituted to accomplish an aim, purpose, or mission.</app:Remarks>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="base:IdentifiableType">
        <xsd:sequence>
          <xsd:element ref="concept:ConceptName" />
          <xsd:element ref="battlespaceconcept:BattlespaceConceptAlternateIdentifier" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="battlespaceconcept:BattlespaceConceptAlternateName" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element ref="battlespaceconcept:BattlespaceConceptHostilityCode" minOccurs="0" />
          <xsd:element ref="battlespaceconcept:BattlespaceConceptMetadata" />
          <xsd:element ref="battlespaceconcept:BattlespaceConceptStaffCommentsText" minOccurs="0" />
          <xsd:element ref="object:ObjectAffiliation" maxOccurs="unbounded" />
          <xsd:element ref="object:ObjectTypeName" minOccurs="0" />
          <xsd:element ref="organisation:OrganisationHasCommandFunctionIndicator" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OtherGroupOrganisation" type="organisation:OtherGroupOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GroupOrganisation for which no further information is given other than its category.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:3e96ed6e-df37-475f-8c62-30ba5373db8e</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Other group organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OtherGroupOrganisationCategoryCode" type="organisation:OtherGroupOrganisationCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The class of OtherGroupOrganisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:6b13b9e8-8aa8-4fb3-9993-0b99da79429f</app:SemanticID>
        <app:ShortName>categoryCode</app:ShortName>
        <app:MIMStereotype>code</app:MIMStereotype>
        <app:MIMStereotype>discriminator</app:MIMStereotype>
        <app:MIMStereotype>type</app:MIMStereotype>
        <app:DisplayName>category</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="OtherGroupOrganisationCategoryCodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The class of OtherGroupOrganisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:e0a44fe5-f6a2-46fc-a38b-2c82c490f351</app:SemanticID>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:CodeValueType">
      <xsd:enumeration value="ContractorGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that contracts or undertakes to supply certain articles, or to perform any work or service (esp. for government or other public body) at a certain price or rate.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:ab804a2b-9655-4d29-82c7-519b1b91a6a7</app:SemanticID>
            <app:DisplayName>Contractor group</app:DisplayName>
            <app:PhysicalName>CNTRCT</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CriminalGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons who attempt to profit by violating the law.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:57bc60dd-d575-43d3-a8a2-69374197fc3e</app:SemanticID>
            <app:DisplayName>Criminal group</app:DisplayName>
            <app:PhysicalName>CRIMIN</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DisplacedPersonGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons removed from their home country by military or political pressure.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:19d93142-1f22-42dd-bad6-7da351826871</app:SemanticID>
            <app:DisplayName>Displaced person group</app:DisplayName>
            <app:PhysicalName>DSPLPR</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="EducationalGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that provides labour and material for the educational process.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:cf4ce843-e8d4-40f1-929f-ed625fbce900</app:SemanticID>
            <app:DisplayName>Educational group</app:DisplayName>
            <app:PhysicalName>EDUCAL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FinancialGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that provides finance, financial advice and guidance, support for the procurement process, providing pay and disbursing support.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:826b07c1-edc4-432f-943d-53469024dfda</app:SemanticID>
            <app:DisplayName>Financial group</app:DisplayName>
            <app:PhysicalName>FINCAL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ForeignFightersGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that consists of fighters who are not from the country in which the fighting is taking place supporting belligerents or irregular forces.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:c46d9078-b899-49e2-be97-301834fdcad4</app:SemanticID>
            <app:DisplayName>Foreign fighters group</app:DisplayName>
            <app:PhysicalName>FRNFGT</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GangGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons that go together or act in concert.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:18db2b9c-ba12-4faa-a2ee-93ac4a45b33f</app:SemanticID>
            <app:DisplayName>Gang group</app:DisplayName>
            <app:PhysicalName>GANG</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="InsurgentGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that rises in revolt against authority.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:20a428e1-13eb-4897-854a-c2bfe5b096e0</app:SemanticID>
            <app:DisplayName>Insurgent group</app:DisplayName>
            <app:PhysicalName>INSRGT</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="IntellectualGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises intellectual beings possessing superior powers of intellect.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:a2d172e1-e6dd-4a74-80c7-5fddc0b40067</app:SemanticID>
            <app:DisplayName>Intellectual group</app:DisplayName>
            <app:PhysicalName>INTLCT</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="IntelligenceGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that is employed to gather information.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:7b176361-ca52-44da-ab93-e9047ec6b45f</app:SemanticID>
            <app:DisplayName>Intelligence group</app:DisplayName>
            <app:PhysicalName>INTEL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="InternallyDisplacedPersonGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons who, as part of a mass movement, have been forced to flee their homes or place of habitual residence suddenly or unexpectedly as a result of armed conflict, internal strife, systematic violation of human rights, fear of such violation, or natural or manmade disasters, and have not crossed an internationally recognized State border.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:997a93d1-78ca-43d4-b773-bebde1e38e53</app:SemanticID>
            <app:DisplayName>Internally displaced person group</app:DisplayName>
            <app:PhysicalName>IDPPER</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="JournalistGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons that earn their living by editing or writing for a public journal.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:346f4033-4a19-4b8f-882c-a82dda520ef3</app:SemanticID>
            <app:DisplayName>Journalist group</app:DisplayName>
            <app:PhysicalName>JRNLST</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="JudicialGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that provides judgment in courts of justice or the administration of justice.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:ba393c2c-d40f-4a3e-91cc-10e18e4c43db</app:SemanticID>
            <app:DisplayName>Judicial group</app:DisplayName>
            <app:PhysicalName>JUDCAL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LandownerGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons that are owners or proprietors of land.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:a92b022c-559b-41d4-949f-e6e81f0e9f4e</app:SemanticID>
            <app:DisplayName>Landowner group</app:DisplayName>
            <app:PhysicalName>LNDOWN</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="LocalInhabitantGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation of a particular place regarded with reference to that place.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:f3da47b2-46c2-44c4-86f1-42f94de528d1</app:SemanticID>
            <app:DisplayName>Local inhabitant group</app:DisplayName>
            <app:PhysicalName>LOCINH</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MedicalGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that provides a medical service.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:715d1c54-5236-4290-83c5-6709c457a96a</app:SemanticID>
            <app:DisplayName>Medical group</app:DisplayName>
            <app:PhysicalName>MEDCAL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MerchantGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons whose occupation is the purchase and sale of marketable commodities for profit.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:744f82d8-8356-4acf-b2be-ba73262511ea</app:SemanticID>
            <app:DisplayName>Merchant group</app:DisplayName>
            <app:PhysicalName>MRCHNT</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PoliceChiefGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons that have the responsibility for the regulation, discipline, and control of a community for the enforcement of law and public order.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:e35dd5ad-84db-40b1-a1cf-c644a1465c9f</app:SemanticID>
            <app:DisplayName>Police chief group</app:DisplayName>
            <app:PhysicalName>POLCHF</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PoliceGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that is responsible for the regulation, discipline and control of community, civil administration; enforcement of the law; public order.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:3698d144-b370-487d-9226-d7ac01c498ac</app:SemanticID>
            <app:DisplayName>Police group</app:DisplayName>
            <app:PhysicalName>POLICE</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PoliticalGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that is identified as being involved within a political area of activity and concerned with politics or has ties to a political party.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:2de22cf2-2393-46b4-89ec-ea0cd78f7a5b</app:SemanticID>
            <app:DisplayName>Political group</app:DisplayName>
            <app:PhysicalName>POLTCL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PrisonerGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation in custody on a criminal charge and on trial.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:19d22700-619c-4b23-86bc-5768e74a73c0</app:SemanticID>
            <app:DisplayName>Prisoner group</app:DisplayName>
            <app:PhysicalName>PRSNR</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PrisonerOfWarGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons that have fallen in the hands of or surrendered to an opponent.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:42d8e719-a238-4593-b2b7-63dab510dc47</app:SemanticID>
            <app:DisplayName>Prisoner of war group</app:DisplayName>
            <app:PhysicalName>POW</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RefugeeGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons who, owing to religious persecution or political troubles, seek refuge.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:241178e6-0af5-4729-9f28-ae52317774b4</app:SemanticID>
            <app:DisplayName>Refugee group</app:DisplayName>
            <app:PhysicalName>REFUGE</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ShuraGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that is an Islamic consultative council or similar advisory body.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:3c59e823-7d32-409a-a8fc-09308b82ed74</app:SemanticID>
            <app:DisplayName>Shura group</app:DisplayName>
            <app:PhysicalName>SHURA</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SocialGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that promotes and is characterised by friendly companionship or relations between its members.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:f423ff22-7bd0-4d6d-bba8-30eaaae7e2be</app:SemanticID>
            <app:DisplayName>Social group</app:DisplayName>
            <app:PhysicalName>SOCIAL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TerroristGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons that attempt to further their views by a system of coercive intimidation.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:4dfb1449-c086-4c15-8a0b-095db5f3f2bb</app:SemanticID>
            <app:DisplayName>Terrorist group</app:DisplayName>
            <app:PhysicalName>TERRST</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TribalGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation consisting of a number of families, clans, or other groups who share a common ancestry and culture.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:5832d805-de55-4241-8703-6fc812715c48</app:SemanticID>
            <app:DisplayName>Tribal group</app:DisplayName>
            <app:PhysicalName>TRIBAL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VillageElderGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons that are of ripe years and experience whose counsel is therefore sought and valued.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:bc907f0c-04d9-4d57-b780-609df84db34d</app:SemanticID>
            <app:DisplayName>Village elder group</app:DisplayName>
            <app:PhysicalName>VILELD</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="WriterGroup">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A GroupOrganisation that comprises persons that practice or perform writing.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:b0789a41-af80-406e-990b-6e65133e9fa4</app:SemanticID>
            <app:DisplayName>Writer group</app:DisplayName>
            <app:PhysicalName>WRITER</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="OtherGroupOrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A GroupOrganisation for which no further information is given other than its category.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:3e96ed6e-df37-475f-8c62-30ba5373db8e</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Other group organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:GroupOrganisationType">
        <xsd:sequence>
          <xsd:element ref="organisation:OtherGroupOrganisationCategoryCode" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PrivateSectorOrganisation" type="organisation:PrivateSectorOrganisationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An Organisation that is a non-government organisation and is constituted for business, commerce, manufacturing, trade, relief or philanthropy.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:c3306ea3-6f04-4d4c-bcaf-f1f6b8f46b77</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Private sector organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PrivateSectorOrganisationCategoryCode" type="organisation:PrivateSectorOrganisationCategoryCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The class of PrivateSectorOrganisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:260acef8-dbae-4fe6-bd4a-9cae38299176</app:SemanticID>
        <app:ShortName>categoryCode</app:ShortName>
        <app:MIMStereotype>code</app:MIMStereotype>
        <app:MIMStereotype>discriminator</app:MIMStereotype>
        <app:MIMStereotype>type</app:MIMStereotype>
        <app:DisplayName>category</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="PrivateSectorOrganisationCategoryCodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The class of PrivateSectorOrganisation.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:b7172c59-2f1c-45a2-a57f-7f28f24aad85</app:SemanticID>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:CodeValueType">
      <xsd:enumeration value="AgriculturalPrivateSectorOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A PrivateSectorOrganisation whose predominant business is the production and processing of agricultural products.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:89107193-bb04-44e6-b032-049b0e49031b</app:SemanticID>
            <app:DisplayName>Agricultural private sector organisation</app:DisplayName>
            <app:PhysicalName>AGRCTL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DefenceIndustry">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A PrivateSectorOrganisation whose predominant business is defence in nature.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:cc60fba1-747d-4525-9072-97255f5dd3a8</app:SemanticID>
            <app:DisplayName>Defence industry</app:DisplayName>
            <app:PhysicalName>DEFIND</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FishingIndustry">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A PrivateSectorOrganisation whose predominant business is the production and processing of seafood products.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:81f3b0db-45b2-4727-a91f-348e1d1071b1</app:SemanticID>
            <app:DisplayName>Fishing industry</app:DisplayName>
            <app:PhysicalName>FSHIND</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ManufacturingPrivateSectorOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A PrivateSectorOrganisation whose predominant business is manufacturing in nature.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:def176a2-4e4b-49f6-8501-49ff121eb2b1</app:SemanticID>
            <app:DisplayName>Manufacturing private sector organisation</app:DisplayName>
            <app:PhysicalName>MFG</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MultiNationalPrivateSectorOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A PrivateSectorOrganisation whose predominant business is multi-national in scope and nature.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:8e0e8957-375f-4dc4-ae07-3d577ad46b0c</app:SemanticID>
            <app:DisplayName>Multi-national private sector organisation</app:DisplayName>
            <app:PhysicalName>MULTIN</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NewsMediaPrivateSectorOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A PrivateSectorOrganisation whose predominant business is the gathering and dissemination of news.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:838d148a-7378-4caf-a39d-9307ec130ef2</app:SemanticID>
            <app:DisplayName>News media private sector organisation</app:DisplayName>
            <app:PhysicalName>NEWSMD</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PhilanthropicPrivateSectorOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A PrivateSectorOrganisation whose predominant business is philanthropic in nature.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:286b014e-90ce-476b-9d26-66bcb01885ca</app:SemanticID>
            <app:DisplayName>Philanthropic private sector organisation</app:DisplayName>
            <app:PhysicalName>PHLNTP</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RetailPrivateSectorOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A PrivateSectorOrganisation whose predominant business is retail in nature.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:d9a0a9ea-78c7-498b-b726-0141d82106c0</app:SemanticID>
            <app:DisplayName>Retail private sector organisation</app:DisplayName>
            <app:PhysicalName>RETAIL</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TradePrivateSectorOrganisation">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A PrivateSectorOrganisation whose predominant business is trade in nature.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:4edaaf39-3645-44e0-b3d3-038a89bba82c</app:SemanticID>
            <app:DisplayName>Trade private sector organisation</app:DisplayName>
            <app:PhysicalName>TRADE</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PrivateSectorOrganisationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An Organisation that is a non-government organisation and is constituted for business, commerce, manufacturing, trade, relief or philanthropy.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:c3306ea3-6f04-4d4c-bcaf-f1f6b8f46b77</app:SemanticID>
        <app:Geometry app:semanticID="MIM:1b27d622-6f58-406d-aceb-2402af195155">AbsolutePoint</app:Geometry>
        <app:DisplayName>Private sector organisation</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="organisation:OrganisationType">
        <xsd:sequence>
          <xsd:element ref="organisation:PrivateSectorOrganisationCategoryCode" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>