MIP-IES Supporting (29 April 2021)/subviews/friendly_orbat_task_org/mip-interop.org/data/v4.3/BattlespaceConcept.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:app="https://mip-interop.org/data/v4.3/AppInfo" xmlns:base="https://mip-interop.org/data/v4.3/Base" xmlns:battlespaceconcept="https://mip-interop.org/data/v4.3/BattlespaceConcept" xmlns:battlespaceconceptmetadata2="https://mip-interop.org/data/v4.3/BattlespaceConcept/Metadata" xmlns:generic="https://mip-interop.org/data/v4.3/BattlespaceConcept/Generic" xmlns:primitives="https://mip-interop.org/data/v4.3/Primitives" targetNamespace="https://mip-interop.org/data/v4.3/BattlespaceConcept" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/Base.xsd" namespace="https://mip-interop.org/data/v4.3/Base" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/BattlespaceConcept/Generic.xsd" namespace="https://mip-interop.org/data/v4.3/BattlespaceConcept/Generic" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/BattlespaceConcept/Metadata.xsd" namespace="https://mip-interop.org/data/v4.3/BattlespaceConcept/Metadata" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/Primitives.xsd" namespace="https://mip-interop.org/data/v4.3/Primitives" />
  <xsd:import schemaLocation="https://mip-interop.org/data/v4.3/AppInfo.xsd" namespace="https://mip-interop.org/data/v4.3/AppInfo" />
  <xsd:annotation>
    <xsd:documentation xml:lang="en">The Schema.</xsd:documentation>
    <xsd:appinfo />
  </xsd:annotation>
  <xsd:element name="AlternateIdentifierIdentifier" type="battlespaceconcept:AlternateIdentifierIdentifierType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The identifier used to exchange the Object through another standard.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:60267bc8-08fa-4e04-8fa0-74a0a8ced6e0</app:SemanticID>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>identifier</app:MIMStereotype>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:DisplayName>identifier</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="AlternateIdentifierIdentifierType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The identifier used to exchange the Object through another standard.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:60267bc8-08fa-4e04-8fa0-74a0a8ced6e0</app:SemanticID>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>identifier</app:MIMStereotype>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:DisplayName>identifier</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:TokenType">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="AlternateIdentifierStandardCode" type="battlespaceconcept:AlternateStandardCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The alternate standard that can be used to exchange the Object.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:f22f4125-4ea2-48b0-a625-583fc78519be</app:SemanticID>
        <app:ShortName>standardCode</app:ShortName>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>code</app:MIMStereotype>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:DisplayName>standard</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="AlternateIdentifierType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The alternate identification of a BattlespaceConcept used to communicate using another standard.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:e0b32651-ae29-4112-b1a6-5feebdc2aedc</app:SemanticID>
        <app:DisplayName>Alternate identifier</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="base:NonIdentifiableType">
        <xsd:sequence>
          <xsd:element ref="battlespaceconcept:AlternateIdentifierIdentifier" />
          <xsd:element ref="battlespaceconcept:AlternateIdentifierStandardCode" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="AlternateStandardCodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The alternate standard that can be used to exchange a BattlespaceConcept.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:cfdd1fc1-856f-4215-a0a7-09e58ea3d4c2</app:SemanticID>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:CodeValueType">
      <xsd:enumeration value="ADEM">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Alternative Development and Exchange Method (ADEM) specification is complementary to the MIP Data Exchange Mechanism (DEM) specification, offering alternative or supplementary means of exchange for those systems, for which it is not practical or desirable to implement a complete MIP DEM solution.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:145273f0-f131-4914-a956-781ca673f6b9</app:SemanticID>
            <app:Remarks>The ADEM Uniform Resource Identifier (URI) must follow the rules outlined in "ADEM_MIP_COI_Implementation_Guidelines.pdf, Section 3.1.1" when interfacing with source identifiers in MIP 3.1. For all other ADEM interfaces, the standard Uniform Resource Identifier (URI) specification should be followed.</app:Remarks>
            <app:DisplayName>ADEM</app:DisplayName>
            <app:PhysicalName>ADEM</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AIS">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Automatic Identification System (AIS) is an automatic tracking system that uses transponders on ships and is used by vessel traffic services (VTS).</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:eb9b5df6-ae77-46c8-afb4-e339a56ea109</app:SemanticID>
            <app:Remarks>The identifier is specified as the vessel's Maritime Mobile Service Identity (MMSI), a unique nine digit identification number.</app:Remarks>
            <app:DisplayName>AIS</app:DisplayName>
            <app:PhysicalName>AIS</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Link11">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Link 11 is a military tactical data link used by airborne, land-based, and ship-based tactical data systems.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:2ce4e6e7-fd29-405e-a4dc-3d5be245c29f</app:SemanticID>
            <app:Remarks>The Link 11 system track number is defined in accordance with STANAG 5511.</app:Remarks>
            <app:DisplayName>Link 11</app:DisplayName>
            <app:PhysicalName>LINK11</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Link16">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Link 16 is a military tactical data link used by airborne, land-based, and ship-based tactical data system.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:6acf1340-45fb-4bd9-b0aa-cc6483e788c6</app:SemanticID>
            <app:Remarks>The Link 16 system track number is defined in accordance with STANAG 5516.</app:Remarks>
            <app:DisplayName>Link 16</app:DisplayName>
            <app:PhysicalName>LINK16</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Link22">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Link 22 is a military tactical data link used by airborne, land-based, and ship-based tactical data systems.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:f9423f9d-4a1d-4993-9048-00c9e9aa9f3a</app:SemanticID>
            <app:Remarks>The Link 22 system track number is defined in accordance with STANAG 5522.</app:Remarks>
            <app:DisplayName>Link 22</app:DisplayName>
            <app:PhysicalName>LINK22</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MIP2">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MIP 2 is based on the C2IEDM 6.15e, or Command and Control Information Exchange Data Model, which enables the interoperability of systems required to share Command and Control (C2) information using the MIP Data Exchange Mechanism (DEM).</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:a8c33639-a4cd-42b1-80f9-9712403b60c4</app:SemanticID>
            <app:Remarks>The MIP 2 identifier is defined as Number(18), an 18-digit number, which refers to OBJECT-ITEM-ID or ACTION-ID (Task or Event) in the C2IEDM 6.15e.</app:Remarks>
            <app:DisplayName>MIP 2</app:DisplayName>
            <app:PhysicalName>MIP2</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MIP31">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The MIP 3.1 is based on the JC3IEDM 3.1.4, or Joint Consultation, Command and Control Information Exchange Data Model, which enables the interoperability of systems required to share Command and Control (C2) information using the MIP Data Exchange Mechanism (DEM).</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:de519331-00fa-4999-8936-c77b6bd7678e</app:SemanticID>
            <app:Remarks>The MIP 3.1 identifier is defined as Number(20), a 20-digit number, which refers to OBJECT-ITEM-ID or ACTION-ID (Task or Event) in the JC3IEDM 3.1.4.</app:Remarks>
            <app:DisplayName>MIP 3.1</app:DisplayName>
            <app:PhysicalName>MIP31</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MaritimeTrack">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The identifier used in maritime reporting of tracks.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:bb615a5e-f182-496a-90a6-e76cf0310efa</app:SemanticID>
            <app:DisplayName>Maritime Track</app:DisplayName>
            <app:PhysicalName>MATRA</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NFFI13">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The NATO Friendly Force Information (NFFI) is used for reporting the positional information of friendly land tracks.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:e681cd9a-0d7f-42e0-b3b7-1faabae1fc3b</app:SemanticID>
            <app:DisplayName>NFFI 1.3</app:DisplayName>
            <app:PhysicalName>NFFI13</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NVG">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The NATO Vector Graphics (NVG) is a means for NATO systems to share and use overlays in order to display tactical objects on a GIS.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:4cee1938-32d3-4824-ac6d-134a1a103113</app:SemanticID>
            <app:Remarks>The format of the graphics is Scalable Vector Graphics (SVG).
The NVG identification is specified through a Uniform Resource Identifier (URI).</app:Remarks>
            <app:DisplayName>NATO Vector Graphics 1.4 to 2.0</app:DisplayName>
            <app:PhysicalName>NVG</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VMF">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Variable Message Format (VMF) is a set of military message formats as defined by MIL-STD-6017 to transfer "K" series messages.</xsd:documentation>
          <xsd:appinfo>
            <app:SemanticID>MIM:41201e24-13c5-4937-8075-2bddbddebada</app:SemanticID>
            <app:Remarks>The Unit Reference Number (URN) is a 24-bit integer.</app:Remarks>
            <app:DisplayName>Variable Message Format</app:DisplayName>
            <app:PhysicalName>VMF</app:PhysicalName>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="BattlespaceConceptAlternateIdentifier" type="battlespaceconcept:AlternateIdentifierType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The alternate identifiers that can be used to exchange the BattlespaceConcept over other standards.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:4734b6cf-6f9a-435f-9065-5c2cd9b9db8b</app:SemanticID>
        <app:ShortName>alternateIdentifier</app:ShortName>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>structure</app:MIMStereotype>
        <app:DisplayName>alternate identifier</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BattlespaceConceptAlternateName" type="battlespaceconcept:BattlespaceConceptAlternateNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A designation of the BattlespaceConcept that may be used instead of its usual name.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:a864c430-d79d-41b8-b4d6-fada0ec13274</app:SemanticID>
        <app:ShortName>alternateName</app:ShortName>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>name</app:MIMStereotype>
        <app:DisplayName>alternate name</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="BattlespaceConceptAlternateNameType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A designation of the BattlespaceConcept that may be used instead of its usual name.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:a864c430-d79d-41b8-b4d6-fada0ec13274</app:SemanticID>
        <app:ShortName>alternateName</app:ShortName>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>name</app:MIMStereotype>
        <app:DisplayName>alternate name</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:TokenType">
      <xsd:minLength value="1" />
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="BattlespaceConceptHostilityCode" type="generic:HostilityCodeType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The perceived hostility status of the BattlespaceConcept.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:b7ad5541-b980-4d50-862b-678f245ab489</app:SemanticID>
        <app:ShortName>hostilityCode</app:ShortName>
        <app:Remarks>If the BattlespaceConcept is a Facility, Feature, Materiel, or Action, this attribute indicates that it is used, owned, controlled, or performed by forces of the corresponding hostility.</app:Remarks>
        <app:MIMStereotype>code</app:MIMStereotype>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>status</app:MIMStereotype>
        <app:DisplayName>hostility</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BattlespaceConceptMetadata" type="battlespaceconceptmetadata2:BattlespaceConceptMetadataType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Descriptive information about information of the BattlespaceConcept.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:586a7c57-cc5b-40ae-b645-63f9cb4d015b</app:SemanticID>
        <app:ShortName>metadata</app:ShortName>
        <app:Remarks>This attribute does not describe characteristics of the BattlespaceConcept but characteristics of the information available for this concept.</app:Remarks>
        <app:ValueOrAmplification>1</app:ValueOrAmplification>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>structure</app:MIMStereotype>
        <app:DisplayName>metadata</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BattlespaceConceptStaffCommentsText" type="battlespaceconcept:BattlespaceConceptStaffCommentsTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A short comment about the BattlespaceConcept provided by the commander's staff, intended to accompany the graphical representation of the BattlespaceConcept.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:4ba3cb6f-c968-4d6c-8b73-d5044ca31ac6</app:SemanticID>
        <app:ShortName>staffCommentsText</app:ShortName>
        <app:Remarks>This attribute shall not be used to specify a symbol code.</app:Remarks>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>text</app:MIMStereotype>
        <app:DisplayName>staff comments</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="BattlespaceConceptStaffCommentsTextType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A short comment about the BattlespaceConcept provided by the commander's staff, intended to accompany the graphical representation of the BattlespaceConcept.</xsd:documentation>
      <xsd:appinfo>
        <app:SemanticID>MIM:4ba3cb6f-c968-4d6c-8b73-d5044ca31ac6</app:SemanticID>
        <app:ShortName>staffCommentsText</app:ShortName>
        <app:Remarks>This attribute shall not be used to specify a symbol code.</app:Remarks>
        <app:MIMStereotype>instance</app:MIMStereotype>
        <app:MIMStereotype>text</app:MIMStereotype>
        <app:DisplayName>staff comments</app:DisplayName>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:restriction base="primitives:StringType">
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>